
<div>
  <div>

    <a class="btn btn-primary btn-lg" href="/api/products/list" role="button">
      Get all books
    </a>


    <a class="btn btn-primary btn-lg" href="/api/products/addNewBook" role="button">
      Save a new Book
    </a>

    <a class="btn btn-primary btn-lg" href="/api/products/productRandom" role="button">
      Get a random book
    </a>
  </div>
</div>

