<div>
  <div>

    <a class="btn btn-primary btn-lg" href="/api/products/list" role="button">
      Get all books
    </a>


    <a class="btn btn-primary btn-lg" href="/api/products/addNewBook" role="button">
      Save a new Book
    </a>

    <a class="btn btn-primary btn-lg" href="/api/products/productRandom" role="button">
      Get a random book
    </a>
  </div>
  </div>
 <div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>