<h1>List of books</h1>
<ul>
        <h2>{{#each products}}</h2>
           <table>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
                <tr>
                    <td>{{title}}</td>
                    <td>{{price}}</td>
                    <td>{{thumbnail}}</td>
                </tr>
            </table>
        {{/each}}
</ul>
</ul>